<div class="login-container">
  <p-card class="login-card">
    <h2 class="title">Welcome Back</h2>
    <p class="subtitle">Enter your credentials to manage your workspace.</p>

    <div class="field">
      <p-floatLabel>
        <input pInputText id="email" />
        <label for="email">Email</label>
      </p-floatLabel>
    </div>

    <div class="field">
      <p-floatLabel>
        <p-password [feedback]="false" toggleMask="true" inputId="password">
        </p-password>
        <label for="password">Password</label>
      </p-floatLabel>
    </div>

    <button pButton label="Login" class="login-btn mb-20"></button>

    <p-divider align="center" type="solid" class="mb-20">
      <b>OR</b>
    </p-divider>

    <div class="or-btn-container">
      <p-button
        label="Submit Timecard"
        variant="outlined"
        severity="info"
        icon="pi pi-user"
        (onClick)="onSubmitTimecardClicked()"
      />
      <p-button
        label="View Timecards"
        variant="outlined"
        severity="warn"
        icon="pi pi-table"
        (onClick)="onViewTimecardsClicked()"
      ></p-button>
    </div>
  </p-card>
</div>
