<ng-template #ietPteLtd>
  <body>
    <img
      class="company-logo"
      src="assets/images/Etoan_Ventures_No_Background.png"
    />

    <h3 class="mb-20 invoice-heading"><u>INVOICE</u></h3>

    <div class="space-between font-size-12 mb-40">
      <div class="flex-column">
        <p class="font-semibold font-size-12">CUSTOMER NAME & ADDRESS</p>
        <p class="font-semibold font-size-12">ATTENTION: ACCOUNTS DEPARTMENT</p>
        <p>IET PTE LTD</p>
        <p>BLK 212 HOUGANG STREET 21</p>
        <p>#04-345</p>
        <p class="font-semibold font-size-12">SINGAPORE 530212</p>
      </div>
      <div class="flex-column">
        <p class="font-semibold font-size-12">Invoice Date: 03/08/2026</p>
        <p class="font-semibold font-size-12">Invoice No: EV 1079/2026</p>
      </div>
    </div>

    <table
      border="1"
      cellspacing="0"
      cellpadding="8"
      style="width: 100%; border-collapse: collapse; text-align: center"
      class="font-size-12 mb-40"
    >
      <thead>
        <tr style="height: 80px">
          <th>S.No</th>
          <th>Description Of Work</th>
          <th>AMOUNT S$</th>
        </tr>
      </thead>
      <tbody>
        <tr style="height: 160px">
          <td style="align-items: start">1</td>
          <td style="text-align: left">
            Being Sub Contract of Skilled Work carried at your project <br />
            <ul>
              <li>Jurong</li>
            </ul>
            Claim for month of JULY 2026<br /><br />
            GST 9%
          </td>
          <td>$2970.00<br /><br /><br /><br /><br /><br /><br />Nil</td>
        </tr>
        <tr style="height: 80px">
          <td colspan="2" style="border: none">
            <span class="font-semibold font-size-12">Net Claim: </span>
            Singapore Dollars Two Thousand Nine Hundred Seventy and Zero
            Cents
          </td>
          <td class="font-semibold font-size-12">$2970.00</td>
        </tr>
      </tbody>
    </table>

    <p class="font-size-12 mb-20" style="line-height: 24px">
      Payment can be made by the mode of Internet Banking. Cheques should be
      crossed and made payable to
      <span class="font-semibold font-size-12">Etoan Ventures Pte Ltd</span>.
      Please find the bank details below for your reference
    </p>
    <div class="space-between font-size-12" style="align-items: center">
      <div class="flex-column flex-gap-20">
        <p>
          <span class="font-semibold font-size-12">Bank Name:</span> DBS Bank
        </p>
        <p>
          <span class="font-semibold font-size-12">Account No:</span> 0721168952
        </p>
        <p>
          <span class="font-semibold font-size-12">Swift Code:</span> DBSSGSG
        </p>
        <p>
          <span class="font-semibold font-size-12">PayNow ID:</span> 202420319N
        </p>
        <img
          src="../assets/images/Etoan_Ventures_PayNow_QR.jpeg"
          height="60"
          width="60"
        />
      </div>
      <div class="flex-column">
        <!-- <p class="font-semibold font-size-12 mb-20">Etoan Ventures Pte Ltd</p> -->
        <div class="flex-row-body space-between" style="align-items: center">
          <img
            src="../assets/images/Devansh_Signature.jpeg"
            height="40"
            width="80"
          />
          <img src="../assets/images/Etoan Stamp.jpg" height="80" width="80" />
        </div>
        <hr />
        <p class="font-size-12">Authorized Signature</p>
      </div>
    </div>
  </body>

  <footer>
    <div class="company-address font-size-14">
      <p class="mb-5">10 Jalan Besar, #15-01, Sim Lim Tower Singapore 208787</p>
      <div class="flex-row mb-20">
        <div class="flex-row mr-5">
          <p>Reg No:</p>
          <p>202420319N</p>
        </div>
        <div class="flex-row">
          <img src="assets/images/mail-icon.svg" width="20" height="20" />
          <p>admin&#64;etoanventures.com</p>
        </div>
        <div class="flex-row">
          <img src="assets/images/phone-icon.svg" width="20" height="20" />
          <p>(65) 8648 1483</p>
        </div>
      </div>
    </div>
  </footer>
</ng-template>


<ng-template #markpointEngineering>
  <body>
    <img
      class="company-logo"
      src="assets/images/Etoan_Ventures_No_Background.png"
    />

    <h3 class="mb-20 invoice-heading"><u>INVOICE</u></h3>

    <div class="space-between font-size-12 mb-40">
      <div class="flex-column">
        <p class="font-semibold font-size-12">CUSTOMER NAME & ADDRESS</p>
        <p class="font-semibold font-size-12">ATTENTION: HR DEPARTMENT</p>
        <p>MARKPOINT ENGINEERING PTE LTD</p>
        <p>10 ADMIRALTY STREET</p>
        <p>#02-27, NORTH LINK BUILDING</p>
        <p class="font-semibold font-size-12">SINGAPORE 757695</p>
      </div>
      <div class="flex-column">
        <p class="font-semibold font-size-12">Invoice Date: 15/07/2026</p>
        <p class="font-semibold font-size-12">Invoice No: EV 1073/2026</p>
      </div>
    </div>

    <table
      border="1"
      cellspacing="0"
      cellpadding="8"
      style="width: 100%; border-collapse: collapse; text-align: center"
      class="font-size-12 mb-40"
    >
      <thead>
        <tr style="height: 80px">
          <th>S.No</th>
          <th>Description Of Work</th>
          <th>AMOUNT S$</th>
        </tr>
      </thead>
      <tbody>
        <tr style="height: 160px">
          <td style="align-items: start">1</td>
          <td style="text-align: left">
            Being Sub Contract of Skilled Work carried at your project Oriental Plaza<br /><br/>
            Claim for month of MAY 2026<br /><br />
            GST 9%
          </td>
          <td>$12024.00<br /><br /><br /><br /><br /><br /><br />Nil</td>
        </tr>
        <tr style="height: 80px">
          <td colspan="2" style="border: none">
            <span class="font-semibold font-size-12">Net Claim: </span>
            Singapore Dollars Twelve Thousand Twenty Four and Zero
            Cents
          </td>
          <td class="font-semibold font-size-12">$12024.00</td>
        </tr>
      </tbody>
    </table>

    <p class="font-size-12 mb-20" style="line-height: 24px">
      Payment can be made by the mode of Internet Banking. Cheques should be
      crossed and made payable to
      <span class="font-semibold font-size-12">Etoan Ventures Pte Ltd</span>.
      Please find the bank details below for your reference
    </p>
    <div class="space-between font-size-12" style="align-items: center">
      <div class="flex-column flex-gap-20">
        <p>
          <span class="font-semibold font-size-12">Bank Name:</span> DBS Bank
        </p>
        <p>
          <span class="font-semibold font-size-12">Account No:</span> 0721168952
        </p>
        <p>
          <span class="font-semibold font-size-12">Swift Code:</span> DBSSGSG
        </p>
        <p>
          <span class="font-semibold font-size-12">PayNow ID:</span> 202420319N
        </p>
        <img
          src="../assets/images/Etoan_Ventures_PayNow_QR.jpeg"
          height="60"
          width="60"
        />
      </div>
      <div class="flex-column">
        <!-- <p class="font-semibold font-size-12 mb-20">Etoan Ventures Pte Ltd</p> -->
        <div class="flex-row-body space-between" style="align-items: center">
          <img
            src="../assets/images/Devansh_Signature.jpeg"
            height="40"
            width="80"
          />
          <img src="../assets/images/Etoan Stamp.jpg" height="80" width="80" />
        </div>
        <hr />
        <p class="font-size-12">Authorized Signature</p>
      </div>
    </div>
  </body>

  <footer>
    <div class="company-address font-size-14">
      <p class="mb-5">10 Jalan Besar, #15-01, Sim Lim Tower Singapore 208787</p>
      <div class="flex-row mb-20">
        <div class="flex-row mr-5">
          <p>Reg No:</p>
          <p>202420319N</p>
        </div>
        <div class="flex-row">
          <img src="assets/images/mail-icon.svg" width="20" height="20" />
          <p>admin&#64;etoanventures.com</p>
        </div>
        <div class="flex-row">
          <img src="assets/images/phone-icon.svg" width="20" height="20" />
          <p>(65) 8648 1483</p>
        </div>
      </div>
    </div>
  </footer>


</ng-template>


<ng-template #infinityPteLtd>
  <body>
    <img
      class="company-logo"
      src="assets/images/Etoan_Ventures_No_Background.png"
    />

    <h3 class="mb-20 invoice-heading"><u>INVOICE</u></h3>

    <div class="space-between font-size-12 mb-40">
      <div class="flex-column">
        <p class="font-semibold font-size-12">CUSTOMER NAME & ADDRESS</p>
        <p class="font-semibold font-size-12">ATTENTION: ACCOUNTS DEPARTMENT</p>
        <p>INFINITY BROTHERS PTE LTD</p>
        <p>BLK 146 BEDOK RESERVOIR ROAD</p>
        <p>#05-1643</p>
        <p class="font-semibold font-size-12">SINGAPORE 470146</p>
      </div>
      <div class="flex-column">
        <p class="font-semibold font-size-12">Invoice Date: 03/08/2026</p>
        <p class="font-semibold font-size-12">Invoice No: EV 1080/2026</p>
      </div>
    </div>

    <table
      border="1"
      cellspacing="0"
      cellpadding="8"
      style="width: 100%; border-collapse: collapse; text-align: center"
      class="font-size-12 mb-40"
    >
      <thead>
        <tr style="height: 80px">
          <th>S.No</th>
          <th>Description Of Work</th>
          <th>AMOUNT S$</th>
        </tr>
      </thead>
      <tbody>
        <tr style="height: 160px">
          <td style="align-items: start">1</td>
          <td style="text-align: left">
            Being Sub Contract of Skilled Work carried at your project Element N105 <br /><br/>
            Claim for month of July 2026<br /><br />
            GST 9%
          </td>
          <td>$6101.30<br /><br /><br /><br /><br /><br /><br />Nil</td>
        </tr>
        <tr style="height: 80px">
          <td colspan="2" style="border: none">
            <span class="font-semibold font-size-12">Net Claim: </span>
            Singapore Dollars Six Thousand One Hundred One and Thirty
            Cents
          </td>
          <td class="font-semibold font-size-12">$6101.30</td>
        </tr>
      </tbody>
    </table>

    <p class="font-size-12 mb-20" style="line-height: 24px">
      Payment can be made by the mode of Internet Banking. Cheques should be
      crossed and made payable to
      <span class="font-semibold font-size-12">Etoan Ventures Pte Ltd</span>.
      Please find the bank details below for your reference
    </p>
    <div class="space-between font-size-12" style="align-items: center">
      <div class="flex-column flex-gap-20">
        <p>
          <span class="font-semibold font-size-12">Bank Name:</span> DBS Bank
        </p>
        <p>
          <span class="font-semibold font-size-12">Account No:</span> 0721168952
        </p>
        <p>
          <span class="font-semibold font-size-12">Swift Code:</span> DBSSGSG
        </p>
        <p>
          <span class="font-semibold font-size-12">PayNow ID:</span> 202420319N
        </p>
        <img
          src="../assets/images/Etoan_Ventures_PayNow_QR.jpeg"
          height="60"
          width="60"
        />
      </div>
      <div class="flex-column">
        <!-- <p class="font-semibold font-size-12 mb-20">Etoan Ventures Pte Ltd</p> -->
        <div class="flex-row-body space-between" style="align-items: center">
          <img
            src="../assets/images/Devansh_Signature.jpeg"
            height="40"
            width="80"
          />
          <img src="../assets/images/Etoan Stamp.jpg" height="80" width="80" />
        </div>
        <hr />
        <p class="font-size-12">Authorized Signature</p>
      </div>
    </div>
  </body>

  <footer>
    <div class="company-address font-size-14">
      <p class="mb-5">10 Jalan Besar, #15-01, Sim Lim Tower Singapore 208787</p>
      <div class="flex-row mb-20">
        <div class="flex-row mr-5">
          <p>Reg No:</p>
          <p>202420319N</p>
        </div>
        <div class="flex-row">
          <img src="assets/images/mail-icon.svg" width="20" height="20" />
          <p>admin&#64;etoanventures.com</p>
        </div>
        <div class="flex-row">
          <img src="assets/images/phone-icon.svg" width="20" height="20" />
          <p>(65) 8648 1483</p>
        </div>
      </div>
    </div>
  </footer>
</ng-template>


<ng-template #mxtEnggControl>
  <body>
    <img
      class="company-logo"
      src="assets/images/Etoan_Ventures_No_Background.png"
    />

    <h3 class="mb-20 invoice-heading"><u>INVOICE</u></h3>

    <div class="space-between font-size-12 mb-40">
      <div class="flex-column">
        <p class="font-semibold font-size-12">CUSTOMER NAME & ADDRESS</p>
        <p class="font-semibold font-size-12">ATTENTION: HR DEPARTMENT</p>
        <p>MXT ENGG & CONTROLS</p>
        <p>15 MARSILING LANE</p>
        <p>#11-157, MARSILING GARDENS</p>
        <p class="font-semibold font-size-12">SINGAPORE 730015</p>
      </div>
      <div class="flex-column">
        <p class="font-semibold font-size-12">Invoice Date: 04/08/2026</p>
        <p class="font-semibold font-size-12">Invoice No: EV 1081/2026</p>
      </div>
    </div>

    <table
      border="1"
      cellspacing="0"
      cellpadding="8"
      style="width: 100%; border-collapse: collapse; text-align: center"
      class="font-size-12 mb-40"
    >
      <thead>
        <tr style="height: 80px">
          <th>S.No</th>
          <th>Description Of Work</th>
          <th>AMOUNT S$</th>
        </tr>
      </thead>
      <tbody>
        <tr style="height: 160px">
          <td style="align-items: start">1</td>
          <td style="text-align: left">
            Being Sub Contract of Skilled Work carried at your project site Facebook at 15A Sunview Way <br /><br/>
            Claim for month of July 2026<br /><br />
            GST 9%
          </td>
          <td>$3450.00<br /><br /><br /><br /><br /><br /><br />Nil</td>
        </tr>
        <tr style="height: 80px">
          <td colspan="2" style="border: none">
            <span class="font-semibold font-size-12">Net Claim: </span>
            Singapore Dollars Three Thousand Four Fifty and Zero
            Cents
          </td>
          <td class="font-semibold font-size-12">$3450.00</td>
        </tr>
      </tbody>
    </table>

    <p class="font-size-12 mb-20" style="line-height: 24px">
      Payment can be made by the mode of Internet Banking. Cheques should be
      crossed and made payable to
      <span class="font-semibold font-size-12">Etoan Ventures Pte Ltd</span>.
      Please find the bank details below for your reference
    </p>
    <div class="space-between font-size-12" style="align-items: center">
      <div class="flex-column flex-gap-20">
        <p>
          <span class="font-semibold font-size-12">Bank Name:</span> DBS Bank
        </p>
        <p>
          <span class="font-semibold font-size-12">Account No:</span> 0721168952
        </p>
        <p>
          <span class="font-semibold font-size-12">Swift Code:</span> DBSSGSG
        </p>
        <p>
          <span class="font-semibold font-size-12">PayNow ID:</span> 202420319N
        </p>
        <img
          src="../assets/images/Etoan_Ventures_PayNow_QR.jpeg"
          height="60"
          width="60"
        />
      </div>
      <div class="flex-column">
        <!-- <p class="font-semibold font-size-12 mb-20">Etoan Ventures Pte Ltd</p> -->
        <div class="flex-row-body space-between" style="align-items: center">
          <img
            src="../assets/images/Devansh_Signature.jpeg"
            height="40"
            width="80"
          />
          <img src="../assets/images/Etoan Stamp.jpg" height="80" width="80" />
        </div>
        <hr />
        <p class="font-size-12">Authorized Signature</p>
      </div>
    </div>
  </body>

  <footer>
    <div class="company-address font-size-14">
      <p class="mb-5">10 Jalan Besar, #15-01, Sim Lim Tower Singapore 208787</p>
      <div class="flex-row mb-20">
        <div class="flex-row mr-5">
          <p>Reg No:</p>
          <p>202420319N</p>
        </div>
        <div class="flex-row">
          <img src="assets/images/mail-icon.svg" width="20" height="20" />
          <p>admin&#64;etoanventures.com</p>
        </div>
        <div class="flex-row">
          <img src="assets/images/phone-icon.svg" width="20" height="20" />
          <p>(65) 8648 1483</p>
        </div>
      </div>
    </div>
  </footer>
</ng-template>


<ng-container *ngTemplateOutlet="mxtEnggControl"></ng-container>


