<!-- salary-entry.component.html -->
<form class="salary-page" [formGroup]="payrollForm" *ngIf="showPage">
  <!-- Header -->
  <div class="topbar">
    <div>
      <h1>Salary Entry</h1>
      <p>Manage and process monthly employee payroll payouts</p>
    </div>

    <div class="topbar-actions">
      <button
        pButton
        type="button"
        label="Cancel"
        icon="pi pi-times"
        class="p-button-outlined"
        severity="danger"
        (click)="resetForm()"
      ></button>

      <button
        pButton
        type="button"
        label="Preview Payslip (PDF)"
        icon="pi pi-file-pdf"
        severity="info"
        class="p-button-outlined"
      ></button>

      <button
        pButton
        type="button"
        label="Save Record"
        icon="pi pi-save"
        class="p-button-outlined"
        severity="success"
        (click)="onSaveClicked($event)"
      ></button>
    </div>
  </div>

  <!-- Grid -->
  <div class="salary-grid">
    <!-- LEFT -->
    <div class="salary-card">
      <div class="section-header">
        <h2>Employee Details</h2>
        <p>Select the employee and payment period</p>
      </div>

      <div class="form-group">
        <label>EMPLOYEE NAME *</label>

        <p-select
          formControlName="workerName"
          [options]="workerDetails"
          optionLabel="name"
          placeholder="Select Employee"
          [checkmark]="true"
          [showClear]="true"
          [ngClass]="{
            'ng-invalid ng-dirty':
              payrollForm.get('workerName')?.invalid &&
              payrollForm.get('workerName')?.touched,
          }"
        ></p-select>
      </div>

      <div class="two-col">
        <div class="form-group">
          <label>DESIGNATION</label>

          <input
            pInputText
            [value]="payrollForm.get('designation')?.value"
            readonly
          />
        </div>

        <div class="form-group">
          <label>NRIC/FIN</label>

          <input
            pInputText
            [value]="payrollForm.get('identifierNumber').value"
            readonly
          />
        </div>
      </div>

      <div class="two-col">
        <div class="form-group">
          <label>PAYSLIP PERIOD *</label>

          <p-select
            [options]="months"
            styleClass="w-full"
            formControlName="payslipPeriod"
          ></p-select>
        </div>

        <div class="form-group">
          <label>DATE OF PAYMENT *</label>

          <p-date-picker
            dateFormat="yy-mm-dd"
            appendTo="body"
            styleClass="w-full"
            formControlName="dateOfPayment"
            [readonlyInput]="true"
          ></p-date-picker>
        </div>
      </div>

      <div class="form-group">
        <label>MODE OF PAYMENT *</label>

        <p-select
          [options]="paymentModes"
          styleClass="w-full"
          formControlName="modeOfPayment"
        ></p-select>
      </div>
    </div>

    <!-- MIDDLE -->
    <div class="salary-card">
      <div class="section-header">
        <h2>Earnings & Work</h2>
        <p>Primary income and allowance</p>
      </div>

      <div class="inner-card">
        <div class="inner-title">
          <span class="dot"></span>
          <h3>Basic Pay Details</h3>
        </div>

        <div class="two-col">
          <div class="form-group">
            <label>BASIC PAY ($) *</label>

            <p-inputNumber
              styleClass="w-full"
              formControlName="basicPay"
            ></p-inputNumber>
          </div>

          <div class="form-group">
            <label>DAYS WORKED *</label>

            <p-inputNumber
              styleClass="w-full"
              formControlName="daysWorked"
            ></p-inputNumber>
          </div>
        </div>

        <div class="form-group">
          <label>TOTAL BASIC PAY</label>

          <div class="readonly-box amount-blue">
            $ {{ payrollForm.get("totalBasicPay").value | number: "1.2-2" }}
          </div>
        </div>
      </div>

      <!-- OT -->
      <div class="inner-card">
        <div class="inner-title">
          <span class="dot"></span>
          <h3>Overtime Details</h3>
        </div>

        <div class="two-col">
          <div class="form-group">
            <label>OT RATE ($/HR)</label>

            <p-inputNumber
              styleClass="w-full"
              formControlName="otRate"
            ></p-inputNumber>
          </div>

          <div class="form-group">
            <label>OT HOURS</label>

            <p-inputNumber
              styleClass="w-full"
              formControlName="otHours"
            ></p-inputNumber>
          </div>
        </div>

        <div class="form-group">
          <label>TOTAL OT PAY</label>

          <div class="readonly-box amount-blue">
            $ {{ payrollForm.get("totalOtPay").value | number: "1.2-2" }}
          </div>
        </div>
      </div>

      <!-- Allowances -->
      <div class="inner-card">
        <div class="inner-title">
          <span class="dot"></span>
          <h3>Allowances</h3>
        </div>
        <div class="two-col">
          <div class="form-group">
            <label>TRANSPORT DAYS *</label>

            <p-inputNumber
              styleClass="w-full"
              formControlName="transportDays"
            ></p-inputNumber>
          </div>

          <div class="form-group">
            <label>TRANSPORT RATE ($)</label>

            <p-inputNumber
              styleClass="w-full"
              formControlName="transportRate"
            ></p-inputNumber>
          </div>
        </div>

        <div class="form-group">
          <label>TOTAL TRANSPORT ALLOWANCE</label>

          <div class="readonly-box amount-blue">
            $ {{ payrollForm.get("totalTransport").value | number: "1.2-2" }}
          </div>
        </div>

        <div class="two-col">
          <div class="form-group">
            <label>MEDICAL ($)</label>

            <p-inputNumber
              styleClass="w-full"
              formControlName="medical"
            ></p-inputNumber>
          </div>

          <div class="form-group">
            <label>OTHER PAYMENTS ($)</label>

            <p-inputNumber
              styleClass="w-full"
              formControlName="otherPayments"
            ></p-inputNumber>
          </div>
        </div>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="salary-card">
      <div class="section-header">
        <h2>Deductions & Summary</h2>
        <p>Final calculations and subtractions</p>
      </div>

      <!-- DEDUCTIONS -->
      <div class="deduction-card">
        <div class="inner-title">
          <span class="dot"></span>
          <h3>Deductions</h3>
        </div>

        <div class="two-col">
          <div class="form-group">
            <label>CASH ADVANCE ($)</label>

            <p-inputNumber
              styleClass="w-full"
              formControlName="cashAdvance"
            ></p-inputNumber>
          </div>

          <div class="form-group">
            <label>FINES ($)</label>

            <p-inputNumber
              styleClass="w-full"
              formControlName="fines"
            ></p-inputNumber>
          </div>
        </div>

        <div class="form-group">
          <label>TOTAL DEDUCTION</label>

          <div class="readonly-box amount-red">
            $ {{ payrollForm.get("totalDeductions").value | number: "1.2-2" }}
          </div>
        </div>
      </div>

      <!-- SUMMARY -->
      <div class="summary-row">
        <span>Gross Salary (Subtotal):</span>
        <strong
          >$
          {{ payrollForm.get("grossSalary").value | number: "1.2-2" }}</strong
        >
      </div>

      <div class="summary-row">
        <span>Total Deductions:</span>
        <strong class="negative">
          -$ {{ payrollForm.get("totalDeductions").value | number: "1.2-2" }}
        </strong>
      </div>

      <div class="summary-row">
        <span>Rounding Adj:</span>

        <div class="rounding-box">
          <p-inputNumber
            mode="decimal"
            [minFractionDigits]="2"
            formControlName="roundingAdjustment"
          ></p-inputNumber>
        </div>
      </div>

      <!-- FINAL CARD -->
      <div class="final-card">
        <p>FINAL NET SALARY PAYABLE</p>

        <h1>
          $ {{ payrollForm.get("finalNetSalary").value | number: "1.2-2" }}
        </h1>

        <div class="divider"></div>

        <div class="final-bottom">
          <div>
            <small>PAYOUT STATUS</small>
            <strong>READY TO SAVE</strong>
          </div>

          <div>
            <small>PERIOD</small>
            <strong>{{ selectedMonth }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

  <p-toast />
  <p-confirmdialog />
