
:root {
  --font-family: 'Montserrat', sans-serif;
}

* {
  font-family: 'Montserrat', sans-serif;
}
// body {
//     padding: 20px 40px 40px 20px;
//     max-width: 80vw;
//     align-items: center;
// }

// .page-header,
// .header,
// .record-header,
// .actions {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   gap: 1rem;
//   margin-bottom: 1rem;
// }



// .salary-grid {
//   grid-template-columns: 1fr 1fr 1fr;
// }

// .toolbar,
// .filters {
//   display: flex;
//   gap: 1rem;
//   margin-bottom: 1rem;
// }

// .full {
//   width: 100%;
//   margin-bottom: 1rem;
// }

// label {
//   display: block;
//   font-weight: 600;
//   margin: 0.75rem 0 0.35rem;
// }

// input,
// p-select,
// p-datepicker {
//   width: 100%;
// }



// Full Page Spinner
.full-page-spinner {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.65);
}


// Spacing Utilities

$spacings: 5, 10, 15, 20, 25, 30, 40;

@each $value in $spacings {
    .mb-#{$value} {
        margin-bottom: #{$value}px;
    }

    .mr-#{$value} {
        margin-right: #{$value}px;
    }

    .mt-#{$value} {
        margin-top: #{$value}px;
    }

    .ml-#{$value} {
        margin-left: #{$value}px;
    }

}


.flex-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
